html {
    max-height: 100%;
    width: 100%
}

body {

    background: rgb(249,249,249);
    color: black;
    margin: 0px;
    min-height: 100%;
}

#gameContents {
	max-width: 500px;
    height: 100%;
    margin: 8% auto;
    font-family: 'Lato', sans-serif;
}

#scenarioBox {
	border-radius: 5px;
	text-align: center;
	border: 1px solid black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 0px;
	margin-left: 2.25%;
	margin-right: 2.25%;
	width: 95%;
}

.scenarioVideo {
	line-height: 190px;
	height: 190px;
	text-align: center;
	position: relative;
}

video {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#scenario {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Abril Fatface', cursive;
}

i {
	font-size: 50px;
    position: absolute;
    top: 75px;
    bottom: 75px;
    right: 10px;
    left: 10px;
    opacity: 0.9;
    color: white;
}

#scenarioText {
	height: 90px;
	line-height: 90px;
	border-top: 1px solid rgb(254,215,74);
	text-align: center;
}

#scenarioText h6 {
	padding: 0px 10px 0px 10px;
	text-indent: 10px;
	text-align: justify;
	vertical-align: middle;
	display: inline-block;
	font-size: 80%;
}

#scenarioText h5 {
	text-align: justify;
	vertical-align: middle;
	display: inline-block;
	text-decoration: underline;
}

#scenarioText h5:active {
	color: rgb(254,215,74);
	cursor: pointer;
}

.control {
	padding: 0px;
	margin-top: 20px;
	font-family: 'Lato', sans-serif;
}

#start {
	padding: 0px;
	margin-left: 2.25%;
	margin-right: 2.25%;
	border: 1px solid rgba(0,0,0, 0.2);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
    width: 95%;
    height: 30px;
    background-color: black;
    color: white;
    font-size: 100%;
}

.control h6{
	width: 30%;
	margin-left: 10%;
	margin-right: 10%;
	display: inline-block;
	text-align: center;
}

.values {
	padding: 0px;
	margin-top: 10px;
}
.values button {
	width: 45%;
	height: 50px;
	margin-left: 2.25%;
	margin-right: 2.25%;
	margin-top: 3px;
	margin-bottom: 3px;
	background-color: rgb(254,215,74);
}

.btn:focus {
	outline: none !important;
}

#pop_background {
    display: block;
    width: 100%;
    height: 100%;
    opacity:.90;
    background-color: rgb(229,229,229);
    position: fixed;
    top: 0px;
    overflow: auto;
}

#instruction_popup {
    display: block;
    position: absolute;
    top: 25%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    border:1px solid white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius:10px;
    background-color: rgb(249,249,249);
    opacity: 1;
    color: black;
}

#instruction_popup p {
    padding:20px 10px;
}

#instruction_popup h5 {
    text-align: center;
    margin-top: 16px;
}

#instruction_popup hr {
    margin: 0;
    margin-left: 8px;
    margin-right: 8px;
    border-top: 2px solid rgb(254,215,74);
}

@media screen and (max-width: 500px) {

    #instruction_popup {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    } 
}

@media screen and (min-width: 500px) {

    #instruction_popup {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }  
}

@media screen and (min-width: 1000px) {

    #instruction_popup {
        width: 40%;
	    margin-left: 30%;
	    margin-right: 30%;
    }  
}

